@model ConsumeApiTest.Models.WorkFlowViewModel

@{
    ViewData["Title"] = "Workflow";
}


<h1>WorkFlow</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="WorkflowID" class="control-label"></label>*@
                <input asp-for="WorkflowID" class="form-control" type="hidden" />
                @*<span asp-validation-for="WorkflowID" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="WorkflowName" class="control-label"></label>
                <input asp-for="WorkflowName" class="form-control" />
                <span asp-validation-for="WorkflowName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkflowDescription" class="control-label"></label>
                <input asp-for="WorkflowDescription" class="form-control" />
                <span asp-validation-for="WorkflowDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StakeholderNotificationType" class="control-label"></label>
                <input asp-for="StakeholderNotificationType" class="form-control" />
                <span asp-validation-for="StakeholderNotificationType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompleteMessage" class="control-label"></label>
                <input asp-for="CompleteMessage" class="form-control" />
                <span asp-validation-for="CompleteMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CancelledMessage" class="control-label"></label>
                <input asp-for="CancelledMessage" class="form-control" />
                <span asp-validation-for="CancelledMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidFrom" class="control-label"></label>
                <input asp-for="ValidFrom" class="form-control" />
                <span asp-validation-for="ValidFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidTo" class="control-label"></label>
                <input asp-for="ValidTo" class="form-control" />
                <span asp-validation-for="ValidTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*            <label asp-for="Created" class="control-label"></label>*@
                <input asp-for="Created" class="form-control" type="hidden" />
                @*<span asp-validation-for="Created" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                @*            <label asp-for="CreatedBy" class="control-label"></label>  *@
                <input asp-for="CreatedBy" class="form-control" type="hidden" />
                @*<span asp-validation-for="CreatedBy" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                @*            <label asp-for="Updated" class="control-label"></label>*@
                <input asp-for="Updated" class="form-control" type="hidden" />
                @*<span asp-validation-for="Updated" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                @*            <label asp-for="UpdatedBy" class="control-label"></label>*@
                <input asp-for="UpdatedBy" class="form-control" type="hidden" />
                @*<span asp-validation-for="UpdatedBy" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
